<div class="container">
    <div class="row">
     
      <div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-light ">
          <a class="navbar-brand" href="#"><b>LATEST BLOG POST</b></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
             
            </ul>
            <div class="form-inline my-2 my-lg-0">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item padd ">
                  <img
                  width="20"
                  alt="Search"
                  src="/assets/Web/.png"
                />
                </li>
                <li class="nav-item padd">
                  <img
                  width="20"
                  alt="Profile"
                  src="/assets/Web/.png"
                />
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
  
    </div>
    
    <div class="row">
      <div class="col-md-4" *ngFor="let item of blog">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" [src]=item.url alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{item.subtitle}}</h6>
            <p class="card-text text-muted">{{item.desc}}</p>
           
          </div>
        </div>
      </div>
      
  
    </div>
  </div>