
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <img
    width="90"
    alt="Angular Logo"
    [src]=logo
  />
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto padcent">
      <li class="nav-item active">
        <a class="nav-link" href="#">HOME<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">SHOP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">PRODUCTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">BLOG</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item padd ">
          <img
          width="20"
          alt="Search"
          src="/assets/Web/.png"
        />
        </li>
        <li class="nav-item padd">
          <img
          width="20"
          alt="Profile"
          src="/assets/Web/.png"
        />
        </li>
        <li class="nav-item padd" >
          <img
          width="20"
          alt="Favourite"
          src="/assets/Web/.png"
        />
        </li>
        <li class="nav-item padd">
          <img
          width="20"
          alt="Cart"
          src="/assets/Web/.png"
        />
        </li>
      </ul>
    </div>
  </div>
</div>
</nav>
<!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<carosel>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
<div class="container-fluid ">
  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
  
    <!-- The slideshow -->
    <div class="carousel-inner">
      <!-- <div class="carousel-item active" style="background-image: url('/assets/Web/blue bg.jpg');"> -->
        <div class="carousel-item active" >
          <div class="container">

            <div class="row">
              <div class="col-md-8"> 
                <div class="topmar">
                <h5>Top Sell This Month</h5>
                <h1>Watch Collections</h1>
                <button type="button" class="btn btn-info btn-sm">Show More</button>
              </div>
              </div>
              <!-- <div class="col-sm">
                One of three columns
              </div> -->
              <div class="col-md-4">
                <img src="/assets/Web/Image1 .png"  width="500" height="500" alt="Watch">
              </div>
            </div>
          </div>
        
      </div>
      <div class="carousel-item">
        <div class="container">

          <div class="row">
            <div class="col-md-8"> 
              <div class="topmar">
              <h5>Top Sell This Month</h5>
              <h1>Watch Collections</h1>
              <button type="button" class="btn btn-info btn-sm">Show More</button>
            </div>
            </div>
            <!-- <div class="col-sm">
              One of three columns
            </div> -->
            <div class="col-md-4">
              <img src="/assets/Web/Image1 .png"  width="500" height="500" alt="Watch">
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" >
        <div class="container">

          <div class="row">
            <div class="col-md-8"> 
              <div class="topmar">
              <h5>Top Sell This Month</h5>
              <h1>Watch Collections</h1>
              <button type="button" class="btn btn-info btn-sm">Show More</button>
            </div>
            </div>
            <!-- <div class="col-sm">
              One of three columns
            </div> -->
            <div class="col-md-4">
              <img src="/assets/Web/Image1 .png"  width="500" height="500" alt="Watch">
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  
  </div>
</div>
<!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<first card>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
<app-featurecatogeries></app-featurecatogeries>

<!-- <---------------------------------------------------------------second cord-------------------------------------------------------------> 
<app-newarrivals></app-newarrivals>

<!-- <---------------------------------------------------------------Third Card-------------------------------------------------------------> 

<app-blogpost></app-blogpost>

<!-- <---------------------------------------------------------------Fourth Card-------------------------------------------------------------> 
<div class="container">
  <div class="row">
   
    <div class="col-md-12">
      <nav class="navbar navbar-expand-lg navbar-light ">
        <a class="navbar-brand" href="#"><b>SHOP BY BRANDS</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
           
          </ul>
          <div class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item padd ">
                <img
                width="20"
                alt="Search"
                src="/assets/Web/.png"
              />
              </li>
              <li class="nav-item padd">
                <img
                width="20"
                alt="Profile"
                src="/assets/Web/.png"
              />
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

  </div>
  
  <div class="row">
    <div class="col-md-2">
      <!-- <div class="card" style="width: 11rem;"> -->
        <img style="margin-left: 25%;" width="80" src="/assets/Web/brand-1.png" alt="Card image cap">
      <!-- </div> -->
    </div>
    <div class="col-md-2">
      <!-- <div class="card" style="width: 11rem;"> -->
        <img style="margin-left: 25%;" width="80" src="/assets/Web/brand-2.png" alt="Card image cap">
       
      <!-- </div> -->
    </div>
    <div class="col-md-2">
      <!-- <div class="card" style="width: 11rem;"> -->
        <img style="margin-left: 25%;" width="80" src="/assets/Web/brand-3 (1).png" alt="Card image cap">
       
      <!-- </div> -->
    </div>
    <div class="col-md-2">
      <!-- <div class="card" style="width: 11rem;"> -->
        <img style="margin-left: 25%;" width="80" src="/assets/Web/brand-4.png" alt="Card image cap">
        
      <!-- </div> -->
    </div>
    <div class="col-md-2">
      <!-- <div class="card" style="width: 11rem;"> -->
        <img style="margin-left: 25%;" width="80" src="/assets/Web/brand-6.png" alt="Card image cap">
       
  
    <!-- </div> -->
    </div>
    <div class="col-md-2">
      <!-- <div class="card" style="width: 11rem;"> -->
        <img style="margin-left: 25%;" width="80" src="/assets/Web/brand-3.png" alt="Card image cap">
        
    <!-- </div> -->
    </div>
  </div>
</div>

<!-- <---------------------------------------------------------------Fifth Card-------------------------------------------------------------> 
  <div class="container-fluid-fifth">
      <!-- <div class="col-md-12" > -->
        <div class="row" >
          <div class="col-md-2">

          </div>
          <div class="col-md-8">
            <h4 class="text-center" style="margin-top: 5%;"><b>SUBSCRIBE FOR DISCOUNT INFO</b></h4>
            <h6 class="card-subtitle mb-2 text-muted text-center" style="margin-top: 20px;">Subscribe to the Bazar mailing list to receive update on new arrivals special offers and other discount information</h6>
          </div>
          <div class="col-md-2">

          </div>
          
        </div>
      <div class="row">
           <!-- Material input -->
           <div class="col-md-2">

           </div>
           <div class="col-md-8">
        
              <form class="form-inline text-center" style="margin-top: 20px;margin-left: 36%;margin-bottom: 5%;">
              <input type="password" class="form-control" id="inputPassword2" placeholder="Enter Your Email Here">
              <button type="submit" class="btn btn-primary" style="margin-left:5%;">SUBSCRIBE</button>
            </form>
            

        </div>
          <div class="col-md-2">

          </div>
        
      </div>
    <!-- </div> -->

  </div>
  <!-- <div class="container-fluid-sixth">

      
  </div> -->

  <footer>
    <div class="footer">
    <div class="container">
    <div class="footer_container">
    <div class="row">
    <div class="col-lg-4 col-md-4 ">  
    <div class="secont_footer_cont paddingleft">
    <p class="footer_title" ><img
      width="90"
      alt="Angular Logo"
      src="/assets/Web/Logo.png"
    /></p>
    
    <a style="color: grey;">Bazar is a premium Template theme.it's<br>
       extremly customizable, easy to use and fully<br>
        responsive and retina ready.</a><br><br>
    <a href="#" style="color: grey;"> <img  alt="Angular Logo" src="/assets/Web/.png"/>  184 Main Rd E, St Albans VIC 3021, Australia</a><br>
    <a href="#" style="color: grey;"><img  alt="Angular Logo" src="/assets/Web/.png">    Contactbazar@demo.com</a><br>
    <a href="#" style="color: grey;"><img  alt="Angular Logo" src="/assets/Web/.png"/>    (001) 2222-3333</a><br>
    </div>
    
    </div>
<!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<secrow>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
    <div class="col-lg-4 col-md-4 ">  
      <div class="secont_footer_cont paddingleft">
      <p class="footer_title" style="color: white;" >INFORMATION</p>
      
  
      
      <a href="#" style="color: grey;">About us</a><br>
      <a href="#" style="color: grey;">Contact us</a><br>
      <a href="#" style="color: grey;">Return & Refunds</a><br>
      <a href="#" style="color: grey;">Term & Conditions</a><br>
      <a href="#" style="color: grey;">FAQ's</a><br>
      <a href="#" style="color: grey;">Shipping Guide</a><br>
      </div>
      
      </div>

      <!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<thirdrow>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->

      <div class="col-lg-4 col-md-4 ">  
        <div class="secont_footer_cont paddingleft">
          <p class="footer_title" style="color: white;" >USEFUL LINK</p>
          
      
          
          <a href="#" style="color: grey;">Online Store</a><br>
          <a href="#" style="color: grey;">Custom Service</a><br>
          <a href="#" style="color: grey;">Promotion</a><br>
          <a href="#" style="color: grey;">Top Brands</a><br>
          <a href="#" style="color: grey;">Top Research</a><br>
          <a href="#" style="color: grey;">Help & Support</a><br>
          </div>
        
        </div>
  
    </div>


    </div>
    </div>
    <hr class="new">
    <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 ">  
     
      <p style="color: grey;"> 2018 <b style="color: grey;">Bazar.</b> All Rights Reserved </p>
      </div>
  <!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<secrow>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
      <div class="col-lg-4 col-md-4 ">  
      
        <img  alt="Angular Logo" src="/assets/Web/payment.png"/>
        </div>
  
        <!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<thirdrow>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
  
        <div class="col-lg-4 col-md-4 ">  
          <img  alt="Angular Logo" src="/assets/Web/Twitter.png"/>
          </div>
    
      </div>
    </div>
    
    </div>
    <!-- <hr style="color: white;"> -->
  </footer>
  
<!-- <router-outlet></router-outlet> -->







  