.padcent{
    padding-left: 28%;
}
.padd{
    padding-left: 17%;
}

.carousel-inner {
	width: 100%;
	display: inline-block;
	position: relative;
}
.carousel-inner {
	display: block;
	content: "";
}
.topmar{
    margin-top: 30%;
}
.cardbott{
	padding-left: 35px;
}
.container-fluid  {
	height: 500px;
	width: 100%;
	background-color:whitesmoke;
  }

.container-fluid-fifth {
	// height: 300px;
	width: 99%;
	background-color:whitesmoke;
    margin-top: 2%;
  }

.container-fluid-sixth{
	height: 500px;
	// width: 100%;
	background-color:rgb(11, 2, 51);
  }
  footer{
	// height: 500px;
	background-color:rgb(11, 2, 51);
  }
  .footer{
	  padding-top: 5%;
	  
  }
  hr.new{
	  border-top: 1px solid darkgrey;
	  padding-top: 2%;
	//   border-radius: 10px;
  }